html, body, .map {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
	font-size: 12px;
}

a, a:link, a:visited, a:hover, a:active {
	color: #404040;
	text-decoration: none;
}

#popup-wrapper {
	display: none;
}

#popup-content {
	padding: 10px;
}

.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	bottom: 12px;
	left: -50px;
	width: 340px;
}
.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	position: absolute;
	top: 0;
	right: 0;
}

.ol-attribution ul {
	font-size: 12px;
}

#sarok {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1000;
	padding: 5px;
	visibility: hidden;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(255, 255, 255);
	/* RGBa with 0.6 opacity */
	background: rgba(255, 255, 255, 0.6);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99FFFFFF, endColorstr=#99FFFFFF)";
}

#count span {
	font-weight: bold;
}

#operators {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	padding-bottom: 5px;
}

#operators img {
	margin: -18px -18px -18px -18px;
	pointer-events: none;
}

#loader {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width: 125px;
	height: 125px;
	z-index: 2000;
}

#popup-content img {
	margin-top: 10px;
}

#popup table {
	border-collapse: collapse;
	width: 100%;
}

#popup td {
    border: 1px solid #e0e0e0;
    padding: 0 1px;
}
